@import "const.less";
html,body {
	height: 100%;
}
body{
    margin: 0;
    font-family: 'NanumGothic bold';
}
.hidden-block {
    overflow: hidden;
    border: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.hidden-inline {
    overflow: hidden;
    display: inline-block;
    border: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.main-section{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color:  rgba(197, 224, 220, 0.2);
    
    .row{
        display: flex;
        margin: 0px 15px 0px 15px;
    }

    .title-wrapper{
        margin: 15px;

        div{
            flex: none;
        }
        .month{
            display: flex;
            flex: none;
            
            .month-arrow-left{
                cursor: pointer;
                display: flex;
            }

            .month-title{
                cursor: pointer;
                margin: 0 10px 0 10px;
                line-height: @title-wrapper-height;
            }

            .month-arrow-right{
                cursor: pointer;
                display: flex;
            }
        }

        .calendar-icon{
            margin-left: auto;
            cursor: pointer;
        }

        .cross {
            margin: 0px 10px 0px 25px;
            cursor: pointer;
        }

    }
    .week {
        display: flex;
        background-color: rgba(236, 229, 206, 0.5);

        .day-of-week {
            flex: 1;
            text-align: center;
            line-height: 30px;
        }
    }
    .day{
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: rgba(255, 251,213, 0.3);
        margin-bottom: 15px;
        font-family: 'flower google';
        font-size: 1.25em;

        .one-week{
            display: flex;
            flex: 1;

            .day-warpper {
                display: flex;
                flex-direction: column;
                flex: 1;
                
                .day-dec {
                    flex: 1;

                    .important {
                        color: rgba(217,98,129);
                        background: rgba(243,251,255);
                        word-break: break-word;
                    }
                }
            }
        }
    }

}