@import "const.less";

.main-section{
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color:  rgba(197, 224, 220, 0.2);
    
    .row{
        display: flex;
        margin: 0px 15px 0px 15px;
    }

    .title-wrapper{
        margin: 15px;

        div{
            flex: none;
        }
        .month{
            display: flex;
            flex: none;
            
            .month-arrow-left{
                cursor: pointer;
                display: flex;
            }

            .month-title{
                cursor: pointer;
                margin: 0 10px 0 10px;
                line-height: @title-wrapper-height;
            }

            .container-date-picker{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                .calendar-togle {
                    cursor: pointer;
                    margin-right: 10px;
                }
                
            }

            .month-arrow-right{
                cursor: pointer;
                display: flex;
            }
        }

        .calendar-icon{
            margin-left: auto;
            cursor: pointer;
            position: relative;
            .triangle{
                border-style:solid; 
                border-width:15px;
                border-color:transparent transparent #B4C0D9 transparent;
                position: absolute;
                top: -30px;
                right: 15px;
            }

            .group-popup {
                position: absolute;
                width: 200px;
                left: -158px;
                top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgba(180, 192, 217, 1.0);
                border-radius: 10px;

                div{
                    height: 50px;
                    line-height: 50px;
                    font-family: 'NanumGothic';
                    font-size: 14px;
                    width: 100%;
                    text-align: center;
                }
                .current{
                    font-family: 'NanumGothic bold';
                    font-size: 16px;
                }
            }
        }

        .cross {
            margin: 0px 10px 0px 25px;
            cursor: pointer;
        }

    }
    .week {
        display: flex;
        background-color: rgba(236, 229, 206, 0.5);

        .day-of-week {
            flex: 1;
            text-align: center;
            line-height: 30px;
        }
    }
    .day{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;
        margin-bottom: 15px;
        font-size: 15px;

        .one-week{
            display: flex;
            flex: 1;
            height: 25%;
            overflow: hidden;
            
            .old.day-warpper, .new.day-warpper{
                color: #777777;
                .day-dec {
                    .important{
                        background-color:transparent;
                        color: #777777;
                    }
                    .post{
                        background-color:transparent;
                        color: #777777;
                       
                    }
                    .important {
                        color: #777777;
                        background-color:transparent;
                    }

                    .schedule{
                        color: #777777;
                    }
                }
            }
            .today.day-warpper{
                .day-title{
                    .title-text{
                        background: pink;
                        border-radius: 50px;
                        padding: 5px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
            .day-warpper {
                flex: 1;
                max-width: 14.29%;
                padding: 7px;
                .day-title{
                    display: flex;
                    cursor: pointer;
                    
                    span{
                        margin-left: auto;
                        height: 20px;
                        img{
                            width: 10px;
                        }
                    }
                    .title-text{
                        margin: 0;
                    }
                }
                .day-dec {
                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 1px 0px 1px 0px;
                        padding: 3px 8px;
                        border: 1px solid transparent;
                        padding-right: 8px;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                    .post{
                        background-color: #039be5;
                        color: white;
                       
                    }
                    .important {
                        color:  white;
                        background: rgba(217,98,129);
                    }

                    .schedule{
                        color:  black;
                    }
                }
            }
        }
    }

}