<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/common/component.css" type="text/css">
    <link rel="stylesheet" href="/css/login/component.css" type="text/css">
</head>
<body>
    <header>
        <h1 class="hidden-block">Login</h1>
    </header>
    <section class="main-section">
        <div class="button-wrapper">
            <div class="button-login google-login">
                <div class="button_base button-roll">
                    <div>Google 로그인</div>
                    <div>Google 로그인</div>
                    <div>Google 로그인</div>
                    <div>Google 로그인</div>
                </div>
            </div>
            <div class="button-or"> OR </div>
            <div class="button-login kakao-login"> 
                <div class="button_base button-roll">
                    <div>카카오 로그인</div>
                    <div>카카오 로그인</div>
                    <div>카카오 로그인</div>
                    <div>카카오 로그인</div>
                </div>
        </div>
    </section>
    
    <script src="/js/common/component.js" type="module"></script>
    <script src="/js/login/component.js" type="module"></script>
</body>
</html>