<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <script type="text/javascript" src="/js/etc/moment-with-locales.js"></script>

    <link rel="stylesheet" href="/css/etc/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/css/common/component.css" type="text/css">
    <link rel="stylesheet" href="/css/main/component.css" type="text/css">
</head>
<body>
    <header>
        <h1 class="hidden-block">캘린더에 관한 내용입니다.</h1>
    </header>
    <section class="main-section">
        <div class="view-theme view-month">
            <div class="row title-wrapper"></div>
            <div class="row week week-wrapper"></div>
            <div class="row day day-wrapper"></div>
        </div>
        <div class="view-theme view-year">
            <div class="row title-wrapper"></div>
            <div class="row year year-wrapper"></div>
        </div>
        <div class="view-theme view-week">
            <div class="row title-wrapper"></div>
            <div class="row day day-wrapper"></div>
        </div>
        <div class="view-theme view-day">
            <div class="row title-wrapper"></div>
            <div class="row day day-wrapper"></div>
    </section>
    <div class="month-dim-layer hidden" id="month-layer" >
        <div class="dim"></div>
        <div class="schedule-container"></div>
    </div>
    <div class="detail-dim-layer hidden" id="detail-layer" >
        <div class="dim"></div>
        <div class="detail-container detail"></div>
    </div>

    <div class="write-dim-layer hidden" id="detail-layer-write" >
        <div class="dim"></div>
        <div class="detail-container write">
            <span class="close left-margin"></span>
            <div class="login-container">
                <form id="api-write">
                    <p><input type="text" placeholder="Title" name="title" id="detailTitle" required /></p>
                    <p><textarea rows="10" placeholder="content" name="content" id="detailContent" required></textarea></p>
                    <p class="start">
                        <span class="container-date-picker">
                            <span id="datetimepicker-start" data-target-input="nearest">
                                <input type='text' class="datetimepicker-input hidden day-data" />
                                <span id="title-calendar-icon" class="calendar-togle" data-target="#datetimepicker-notime">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </span>
                        <span>시작일</span>
                    </p>
                    <p class="start-date">
                        <input type="hidden" name="startDate" id="startDate"/>
                        <input type="text" placeholder="달력을 클릭하세요" readonly />
                    </p>
                    <p class="end">
                        <span class="container-date-picker">
                            <span id="datetimepicker-end" data-target-input="nearest">
                                <input type='text' class="datetimepicker-input hidden day-data" />
                                <span id="title-calendar-icon" class="calendar-togle" data-target="#datetimepicker-notime">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </span>
                        <span>종료일</span>
                    </p>
                    <p class="end-date">
                        <input type="hidden" name="endDate" id="endDate"/>
                        <input type="text" placeholder="달력을 클릭하세요" readonly required/>
                    </p>
                    <div class="import">
                        <label class="out-label" for="squaredFour-write">중요 일정</label>
                        <span class="squaredFour">
                            <input type="checkbox" value="None" id="squaredFour-write" name="checkImpotant" checked/>
                            <label for="squaredFour-write"></label>
                        </span>
                    </div>
                    <!-- <p class="location">
                        <img src="/img/map.svg" alt="캘린더 아이콘">
                        <span>위치</span>
                    </p> -->
                    <p class="reset">
                        <input type="submit" value="글쓰기">
                    </p>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/common/component.js" type="module"></script>
    <script src="/js/main/component.js" type="module"></script>
    
    <!--googleoff: all-->
     <div class="jtemplates" data-jly-componentName="calendar-month">
        <div class="row title-wrapper" data-jly-template="{{ monthTitle @ obj }}">
            <div class="month">
                <span class="month-arrow prev"><img src="/img/arrow-left.svg" alt="왼쪽 화살표"></span>
                <span class="month-title" >{{obj.mainTitle}}</span>
                <div class="container-date-picker">
                    <div id="datetimepicker-notime" data-target-input="nearest">
                        <input type='text' class="datetimepicker-input hidden day-data" />
                        <div id="title-calendar-icon" class="calendar-togle" data-target="#datetimepicker-notime">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <span class="month-arrow next"><img src="/img/arrow-right.svg" alt="오른쪽 화살표"></span>
                <span class="today" id="reset-today"><img src="/img/reset.svg" alt="오른쪽 화살표"></span>
                <span class="logout"><a href="/auth/logout">logout</a></span>
            </div>
            <div class="calendar-icon">
                <img id="icon-popup" src="/img/calendar-icon.svg" alt="캘린더 아이콘">
                <div id="icon-popup-target" class="group-popup hidden">
                    <span class="triangle"></span>
                    <div data-show-mode="day">일단위</div>
                    <div data-show-mode="week">주단위</div>
                    <div data-show-mode="month">월단위</div>
                    <div data-show-mode="year" >년단위</div>
                </div>
            </div>
            <div class="cross">
                <img src="/img/cross.svg" alt="십자가 아이콘">
            </div>
        </div>
        <div class="row week week-wrapper" data-jly-template="{{ monthWeek @ obj }}">
            <div class="day-of-week" data-jly-repeat.item="{{ obj.weekList }}" >{{item}}</div>
        </div>
        <div class="row day day-wrapper"  data-jly-template="{{ monthDay @ obj }}" data-jly-list.oneweek="{{ obj.daysData }}">
            <div class="one-week" data-jly-list.dayitem="{{ oneweek }}" >
                <div class="day-warpper {{dayitem.wrapperClass}}" data-index="{{dayitem.date}}">
                    <div class="day-title">
                        <span class="title-text">{{dayitem.count}}</span>
                    </div>
                    <div class="day-dec" data-jly-test="{{dayitem.scheduleList}}" data-jly-list.schedule="{{dayitem.scheduleList}}">
                        <p class="{{schedule.class}}">{{schedule.title}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule-container" data-jly-template="{{ monthPopup @ obj }}">
            <div class="schedule today">
                <span class="text">{{obj.clickItem.today}}</span>
                <span class="close-vertical" data-index="{{obj.clickItem.today}}" ></span>
                <span class="close left-margin"></span>
            </div>
            <jly data-jly-list.item="{{obj.clickItem.clickList}}">
                <div class="schedule {{item.className}}" data-index="{{obj.clickItem.today}}" data-seq="{{item.seq}}">{{item.title}}</div>
            </jly>
        </div>
        <div class="row title-wrapper" data-jly-template="{{ yearTitle @ obj }}">
            <div class="month">
                <span class="month-arrow prev"><img src="/img/arrow-left.svg" alt="왼쪽 화살표"></span>
                <span class="month-title">{{obj.mainTitle}}</span>
                <div class="container-date-picker">
                    <div id="datetimepicker-notime" data-target-input="nearest">
                        <input type='text' class="datetimepicker-input hidden day-data" />
                        <div id="title-calendar-icon" class="calendar-togle" data-target="#datetimepicker-notime">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <span class="month-arrow next"><img src="/img/arrow-right.svg" alt="오른쪽 화살표"></span>
                <span class="today" id="reset-today"><img src="/img/reset.svg" alt="오른쪽 화살표"</span>
            </div>
            <div class="calendar-icon">
                <img id="icon-popup" src="/img/calendar-icon.svg" alt="캘린더 아이콘">
                <div id="icon-popup-target" class="group-popup hidden">
                    <span class="triangle"></span>
                    <div data-show-mode="day">일단위</div>
                    <div data-show-mode="week">주단위</div>
                    <div data-show-mode="month">월단위</div>
                    <div data-show-mode="year" >년단위</div>
                </div>
            </div>
            <div class="cross">
                <img src="/img/cross.svg" alt="십자가 아이콘">
            </div>
        </div>
        <div class="row year year-wrapper" data-jly-template="{{ yearData @ obj }}" data-jly-list.fourmonth="{{ obj.totalList }}">
            <div class="one-row" data-jly-list.onemonth="{{ fourmonth }}">
                <div class="calendar-month" data-index="{{onemonth.monthDate}}">
                    <div class="title">{{onemonth.monthFormat}}</div>
                    <jly data-jly-list.oneweek="{{onemonth.dayList}}">
                        <div class="one-week" data-jly-list.oneday="{{oneweek}}">
                            <span class="{{oneday.class}}">{{oneday.date}}</span>
                        </div>
                    </jly>
                </div>
            </div>
        </div>
        <div class="row title-wrapper" data-jly-template="{{ weekTitleData @ obj }}">
            <div class="month">
                <span class="month-arrow prev"><img src="/img/arrow-left.svg" alt="왼쪽 화살표"></span>
                <span class="month-title" ></span>
                <div class="container-date-picker">
                    <div id="datetimepicker-notime" data-target-input="nearest">
                        <input type='text' class="datetimepicker-input hidden day-data" />
                        <div id="title-calendar-icon" class="calendar-togle" data-target="#datetimepicker-notime">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <span class="month-arrow next"><img src="/img/arrow-right.svg" alt="오른쪽 화살표"></span>
                <span class="today" id="reset-today"><img src="/img/reset.svg" alt="오른쪽 화살표"</span>
            </div>
            <div class="calendar-icon">
                <img id="icon-popup" src="/img/calendar-icon.svg" alt="캘린더 아이콘">
                <div id="icon-popup-target" class="group-popup hidden">
                    <span class="triangle"></span>
                    <div data-show-mode="day">일단위</div>
                    <div data-show-mode="week">주단위</div>
                    <div data-show-mode="month">월단위</div>
                    <div data-show-mode="year" >년단위</div>
                </div>
            </div>
            <div class="cross">
                <img src="/img/cross.svg" alt="십자가 아이콘">
            </div>
        </div>
        <div class="row day day-wrapper" data-jly-template="{{ weekDayData @ obj }}">
            <table>
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="time">0시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">1시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">2시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">3시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">4시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">5시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">6시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">7시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">8시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">9시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">10시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">11시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">12시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">13시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">14시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">15시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">16시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">17시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">18시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">19시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">20시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">21시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">22시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">23시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">24시</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row title-wrapper" data-jly-template="{{ todayTitle @ obj }}">
            <div class="month">
                <span class="month-arrow prev"><img src="/img/arrow-left.svg" alt="왼쪽 화살표"></span>
                <span class="month-title" >{{ obj.today }}</span>
                <div class="container-date-picker">
                    <div id="datetimepicker-notime" data-target-input="nearest">
                        <input type='text' class="datetimepicker-input hidden day-data" />
                        <div id="title-calendar-icon" class="calendar-togle" data-target="#datetimepicker-notime">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <span class="month-arrow next"><img src="/img/arrow-right.svg" alt="오른쪽 화살표"></span>
                <span class="today" id="reset-today"><img src="/img/reset.svg" alt="오른쪽 화살표"</span>
            </div>
            <div class="calendar-icon">
                <img id="icon-popup" src="/img/calendar-icon.svg" alt="캘린더 아이콘">
                <div id="icon-popup-target" class="group-popup hidden">
                    <span class="triangle"></span>
                    <div data-show-mode="day">일단위</div>
                    <div data-show-mode="week">주단위</div>
                    <div data-show-mode="month">월단위</div>
                    <div data-show-mode="year" >년단위</div>
                </div>
            </div>
            <div class="cross">
                <img src="/img/cross.svg" alt="십자가 아이콘" data-index="{{ obj.today }}" >
            </div>
        </div>
        <div class="row day day-wrapper" data-jly-template="{{ todayData @ obj }}">
            <table>
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="time">0시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">1시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">2시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">3시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">4시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">5시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">6시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">7시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">8시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">9시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">10시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">11시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">12시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">13시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">14시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">15시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">16시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">17시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">18시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">19시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">20시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">21시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">22시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">23시</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="time">24시</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="detail-container" data-jly-template="{{ detailPop @ obj }}">
            <div class="day">{{obj.today}}</div>
            <span class="close left-margin"></span>
            <div class="login-container">
                <p><input type="text" placeholder="Title" readonly value="{{obj.title}}" /></p>
                <p><textarea rows="10" placeholder="content" readonly >{{obj.content @ context="html"}}</textarea></p>
                <p class="start">
                    <img src="/img/calendar-icon.svg" alt="캘린더 아이콘">
                    <span>시작일</span>
                </p>
                <p class="start-date">
                    <input type="text" placeholder="Title" readonly value="{{obj.startDate}}" />
                </p>
                <p class="end">
                    <img src="/img/calendar-icon.svg" alt="캘린더 아이콘">
                    <span>종료일</span>
                </p>
                <p class="end-date">
                    <input type="text" placeholder="Title" readonly value="{{obj.endDate}}">
                </p>
                <div class="import">
                    <label class="out-label" for="squaredFour">중요 일정</label>
                    <span class="squaredFour">
                        <input type="checkbox" value="None" id="squaredFour" name="checkImpotant" disabled checked/>
                        <label for="squaredFour"></label>
                    </span>
                </div>
                <!-- <p class="location">
                    <img src="/img/map.svg" alt="캘린더 아이콘">
                    <span>위치</span>
                </p> -->
                <p class="reset">
                    <input type="button" value="수정"><input type="button" value="삭제">
                </p>
            </div>
        </div>
     </div>
     <!--googleon: all-->
</body>
</html>