<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <script type="text/javascript" src="/js/etc/moment-with-locales.js"></script>

    <link rel="stylesheet" href="/css/etc/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/css/common/component.css" type="text/css">
    <link rel="stylesheet" href="/css/main/component.css" type="text/css">
</head>
<body>
    <header>
        <h1 class="hidden-block">캘린더에 관한 내용입니다.</h1>
    </header>
    <section class="main-section">
        <div class="view-month">
            <div class="row title-wrapper"></div>
            <div class="row week week-wrapper"></div>
            <div class="row day day-wrapper"></div>
        </div>
    </section>
    <div class="month-dim-layer hidden" id="month-layer" >
        <div class="dim"></div>
        <div class="schedule-container"></div>
    </div>

    <script src="/js/common/component.js" type="module"></script>
    <script src="/js/main/component.js" type="module"></script>
    
    <!--googleoff: all-->
     <div class="jtemplates" data-jly-componentName="calendar-month">
        <div class="row title-wrapper" data-jly-template="{{ monthTitle @ obj }}">
            <div class="month">
                <span class="month-arrow prev"><img src="/img/arrow-left.svg" alt="왼쪽 화살표"></span>
                <span class="month-title" >{{obj.mainTitle}}</span>
                <div class="container-date-picker">
                    <div id="datetimepicker-notime" data-target-input="nearest">
                        <input id="day-data" type='text' class="datetimepicker-input hidden" />
                        <div id="title-calendar-icon" class="calendar-togle" data-target="#datetimepicker-notime">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <span class="month-arrow next"><img src="/img/arrow-right.svg" alt="오른쪽 화살표"></span>
            </div>
            <div class="calendar-icon">
                <img id="icon-popup" src="/img/calendar-icon.svg" alt="캘린더 아이콘">
                <div id="icon-popup-target" class="group-popup hidden">
                    <span class="triangle"></span>
                    <div data-show-mode="day">일단위</div>
                    <div data-show-mode="week">주단위</div>
                    <div data-show-mode="month" class="current">월단위</div>
                    <div data-show-mode="year">년단위</div>
                </div>
            </div>
            <div class="cross">
                <img src="/img/cross.svg" alt="십자가 아이콘">
            </div>
        </div>
        <div class="row week week-wrapper" data-jly-template="{{ monthWeek @ obj }}">
            <div class="day-of-week" data-jly-repeat.item="{{ obj.weekList }}" >{{item}}</div>
        </div>
        <div class="row day day-wrapper"  data-jly-template="{{ monthDay @ obj }}" data-jly-list.oneweek="{{ obj.daysData }}">
            <div class="one-week" data-jly-list.dayitem="{{ oneweek }}" >
                <div class="day-warpper {{dayitem.wrapperClass}}" data-index="{{dayitem.date}}">
                    <div class="day-title">
                        <span class="title-text">{{dayitem.count}}</span>
                    </div>
                    <div class="day-dec" data-jly-test="{{dayitem.scheduleList}}" data-jly-list.schedule="{{dayitem.scheduleList}}">
                        <p class="{{schedule.class}}">{{schedule.title}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule-container" data-jly-template="{{ monthPopup @ obj }}">
            <div class="schedule today">
                <span class="text">{{obj.clickItem.today}}</span>
                <span class="close-vertical"></span>
                <span class="close left-margin"></span>
            </div>
            <jly data-jly-list.item="{{obj.clickItem.clickList}}">
                <div class="schedule {{item.className}}">{{item.title}}</div>
            </jly>
        </div>
     </div>
     <!--googleon: all-->
</body>
</html>