.main-section {
  height: 100%;
  min-height: 100%;
}
.main-section .view-theme {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(197, 224, 220, 0.2);
}
.main-section .view-theme .row {
  display: flex;
  margin: 0px 15px 0px 15px;
}
.main-section .view-theme .title-wrapper {
  margin: 15px;
}
.main-section .view-theme .title-wrapper div {
  flex: none;
}
.main-section .view-theme .title-wrapper .month {
  display: flex;
  flex: none;
}
.main-section .view-theme .title-wrapper .month .month-arrow {
  cursor: pointer;
  display: flex;
}
.main-section .view-theme .title-wrapper .month .month-title {
  cursor: pointer;
  margin: 0 10px 0 10px;
  line-height: 30px;
}
.main-section .view-theme .title-wrapper .month .container-date-picker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .view-theme .title-wrapper .month .container-date-picker .calendar-togle {
  cursor: pointer;
  margin-right: 10px;
}
.main-section .view-theme .title-wrapper .calendar-icon {
  margin-left: auto;
  cursor: pointer;
  position: relative;
}
.main-section .view-theme .title-wrapper .calendar-icon .triangle {
  border-style: solid;
  border-width: 15px;
  border-color: transparent transparent #B4C0D9 transparent;
  position: absolute;
  top: -30px;
  right: 15px;
}
.main-section .view-theme .title-wrapper .calendar-icon .group-popup {
  position: absolute;
  width: 200px;
  left: -158px;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b4c0d9;
  border-radius: 10px;
}
.main-section .view-theme .title-wrapper .calendar-icon .group-popup div {
  height: 50px;
  line-height: 50px;
  font-family: 'NanumGothic';
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.main-section .view-theme .title-wrapper .calendar-icon .group-popup .current {
  font-family: 'NanumGothic bold';
  font-size: 16px;
}
.main-section .view-theme .title-wrapper .cross {
  margin: 0px 10px 0px 25px;
  cursor: pointer;
}
.main-section .view-theme .week {
  display: flex;
  background-color: rgba(236, 229, 206, 0.5);
}
.main-section .view-theme .week .day-of-week {
  flex: 1;
  text-align: center;
  line-height: 30px;
}
.main-section .view-theme .day {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  margin-bottom: 15px;
  font-size: 15px;
}
.main-section .view-theme .day .one-week {
  display: flex;
  flex: 1;
  height: 25%;
  overflow: hidden;
}
.main-section .view-theme .day .one-week .old.day-warpper,
.main-section .view-theme .day .one-week .new.day-warpper {
  color: #777777;
}
.main-section .view-theme .day .one-week .old.day-warpper .day-dec .important,
.main-section .view-theme .day .one-week .new.day-warpper .day-dec .important {
  background-color: gainsboro;
  color: #777777;
}
.main-section .view-theme .day .one-week .old.day-warpper .day-dec .post,
.main-section .view-theme .day .one-week .new.day-warpper .day-dec .post {
  background-color: gainsboro;
  color: #777777;
}
.main-section .view-theme .day .one-week .old.day-warpper .day-dec .schedule,
.main-section .view-theme .day .one-week .new.day-warpper .day-dec .schedule {
  color: #777777;
}
.main-section .view-theme .day .one-week .today.day-warpper .day-title .title-text {
  background: pink;
  border-radius: 50px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.main-section .view-theme .day .one-week .day-warpper {
  flex: 1;
  max-width: 14.29%;
  padding: 7px;
  cursor: pointer;
}
.main-section .view-theme .day .one-week .day-warpper .day-title {
  display: flex;
  cursor: pointer;
}
.main-section .view-theme .day .one-week .day-warpper .day-title span {
  margin-left: auto;
  height: 20px;
}
.main-section .view-theme .day .one-week .day-warpper .day-title span img {
  width: 10px;
}
.main-section .view-theme .day .one-week .day-warpper .day-title .title-text {
  margin: 0;
}
.main-section .view-theme .day .one-week .day-warpper .day-dec p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px 0px 1px 0px;
  padding: 3px 8px;
  border: 1px solid transparent;
  padding-right: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.main-section .view-theme .day .one-week .day-warpper .day-dec .post {
  background-color: #039be5;
  color: white;
}
.main-section .view-theme .day .one-week .day-warpper .day-dec .important {
  color: white;
  background: rgba(217, 98, 129);
}
.main-section .view-theme .day .one-week .day-warpper .day-dec .schedule {
  color: black;
}
.main-section .view-theme .day .one-week .day-warpper:hover {
  background-color: #69D2E7;
}
.main-section .view-theme.view-year .year {
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.main-section .view-theme.view-year .year .one-row {
  display: flex;
  flex: 1;
}
.main-section .view-theme.view-year .year .one-row .calendar-month {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  padding: 7px;
  border-radius: 5px;
  background-color: #F2E9E1;
  cursor: pointer;
}
.main-section .view-theme.view-year .year .one-row .calendar-month:hover {
  background-color: transparent;
}
.main-section .view-theme.view-year .year .one-row .title {
  flex: 1;
}
.main-section .view-theme.view-year .year .one-row .one-week {
  flex: 1;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
}
.main-section .view-theme.view-year .year .one-row .one-week span {
  flex: 1;
}
.main-section .view-theme.view-year .year .one-row .one-week .old,
.main-section .view-theme.view-year .year .one-row .one-week .new {
  opacity: 0.4;
  color: #777777;
}
.main-section .view-theme.view-year .year .one-row .one-week .check {
  position: relative;
  background: pink;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.main-section .view-theme.view-year .year .one-row .one-week .check.old {
  position: relative;
  opacity: 0.4;
  color: #777777;
}
.month-dim-layer {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.month-dim-layer .dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.month-dim-layer .schedule-container {
  width: 50%;
  height: 70%;
  background: white;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
}
.month-dim-layer .schedule-container .schedule {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
.month-dim-layer .schedule-container .important {
  background: rgba(217, 98, 129);
  cursor: pointer;
}
.month-dim-layer .schedule-container .post {
  background-color: #039be5;
}
.month-dim-layer .schedule-container .normal {
  background-color: #eaeaea;
  cursor: pointer;
}
.month-dim-layer .schedule-container .text {
  display: flex;
  align-items: center;
}
.month-dim-layer .schedule-container .today {
  display: flex;
  align-items: center;
}
.month-dim-layer .schedule-container .close-vertical {
  margin-left: 10px;
}
.month-dim-layer .schedule-container .close {
  margin-left: auto;
}
